
.scrollable-box {
  width: 375px;
  height: 400px;
  border: 1px solid white;
  border-radius: 5px;
  border: none;
  overflow-y: auto;
  scroll-timeline: --scroll-timeline block;
  animation: detect-scroll;
  animation-timeline: --scroll-timeline;
  animation-fill-mode: none;
  padding-inline: 8px;
  background: var(--c-primary-text);
  color: var(--c-primary-background);
  margin-block: 2rem;
}

.scrollable-box::before, .scrollable-box::after {
  content: '';
  display: block;
  position: sticky;
  left: 0em; right: 0em;
  height: 0.75rem;
  animation: reveal-shadow linear both;
  animation-timeline: --scroll-timeline;
  --vis-if-can-scroll: var(--can-scroll) visible;
  --vis-if-cant-scroll: hidden;
  visibility: var(--vis-if-can-scroll, var(--vis-if-cant-scroll))
}

.scrollable-box::before {
  top: 0;
  background: radial-gradient(farthest-side at 50% 0, rgb(0 0 0 / 0.25), rgb(0 0 0 / 0));
  animation-range: 1em 2em;
}

.scrollable-box::after {
  bottom: 0;
  background: radial-gradient(farthest-side at 50% 100%, rgb(0 0 0 / 0.25), rgb(0 0 0 / 0));
  animation-direction: reverse;
  animation-range: calc(100% - 2em) calc(100% - 1em);
}


@keyframes reveal-shadow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes detect-scroll {
  from, to {--can-scroll: ;}
}